// アラート

.notification {
    text-align: center;
    color: $white;
    background-color: $blue;
}
// チャットメイン画面

.chat-main {
  height: 100vh;
  width: calc( 100vw - 300px );
  float: left;

  .chat-header {
    box-sizing: border-box;
    height: 15%;
    border: 1px solid #eee;
    padding: 0 40px;

    .chat-header__group {
        @include clearfix;

      &__name {
        font-size: 20px;
        margin: 35px 0 15px 0;
        float: left;
        color: $message-font-color;
      }
      &--edit-btn {
      float: right;
      color: $blue;
      border: 1px solid $blue;
      padding: 8px 20px;
      box-sizing: border-box;
      height: 40px;
      margin-top: 28px;
      }
    }
    .chat-header__group-member {
        font-size: 12px;
        color: $light-grey;
    }
  }
  .chat-body {
    box-sizing: border-box;
    height: calc( 100vh - 15% - 90px );
    color: $message-font-color;
    padding-top: 46px;

    &__message-box {
      padding-left: 40px;
      margin-bottom: 40px;
      @include clearfix;

      &__name {
        font-size: 16px;
        float: left;
        font-weight: bold;
      }
      &__date {
        color: $light-grey;
        font-size: 12px;
        padding: 0 0 10px 10px;float: left;
      }
      &__body {
        clear: both;
        font-size: 14px;
      }
    }
  }
// メッセージ送信フォーム

  .chat-footer {
    height: 90px;
    width: 100%;
    padding: 20px 40px;
    background-color: #B8C3C7;
    box-sizing: border-box;

    form.chat-footer__form {
      color: $light-grey;
      background-color: $white;
      height: 50px;
      padding: 15px 0 15px 10px;
      width: calc( 100% - 130px );
      box-sizing: border-box;
      float: left;

      .fa.fa-image {
        color: $message-font-color;
        float: right;
        padding-right: 10px;
      }
                }
    input.chat-footer--submit {
      float: left;
      background-color: $blue;
      margin-left: 15px;
      text-align: center;
      height: 50px;
      width: 100px;
      color: $white;
      border:0
    }
  }
}
